.tm_project
.tm_properties

php_errors.log

*.DS_Store
*/*.DS_Store

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/kristsk.xml
*.iml

.DS_Store
*.class
*.k5z.m
*.jar
*.tmproj
*.dot
*.k5z.php
*.tokens
misc/
lib/
dist/
build/
nbproject/*
nbproject
k5z/Applications/Misc/
k5z/Applications/MAG/
k5z/Applications/**/*.k5z.lib
k5z/Libraries/**/*.k5z.lib
src/k5z/SystemLibraries/**/*.k5z.lib
k5z/WebResources
k5z/SystemLibraries
start-services
this-phantm
/.idea/
